.album-page-content {
    /* background-color: red; */
    padding-top: 0;
}

#imageViewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}


#imageViewer .image {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageViewer .image img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
}

.close-btn {
    position: absolute;
    top : 40px;
    right: 40px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn img {
    width: 100%;
    height: 100%;
}

.control-btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn img{
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.control-btn img:hover {
    opacity: 1;
}

.album-page-content .switch-btn {
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn-item {
    width: 50%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    color: rgb(52, 58, 64);
    border-bottom: 2px solid #bdbdbd;
    cursor: pointer;
}

.btn-item.active {
    border-bottom: 2px solid #16a085;
}

.btn-item:hover {
    color: #16a085;
}

.btn-item div {
    display: flex;
    align-items: center;
}

.btn-item div:first-child {
    margin-right: 10px;
}

.btn-item img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.content-section {
    margin: auto;
    max-width: 1300px;
    margin-top: 80px;
    margin-bottom: 50px;
    line-height: 0;
        
    /* -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px; */
    column-count:         4;
    column-gap:           0px;  
}

.content-section .image-container {
    width: 100% !important;
    height: auto !important;
    border: 4px solid #fff;
    cursor: pointer;
    position: relative;
}

.content-section .image-container .image-checkbox {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.5;
    display: none;
}

.content-section .image-container .image-checkbox.active {
    display: block;
}

.content-section .image-container input {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    opacity: 0.5;
    display: none;
}

.content-section .image-container input.active {
    display: block;
}

.content-section .image-container:hover input {
    opacity: 1;
}

.content-section .image-container input:checked {
    background-color: #16a085;
    border: 3px solid #fff;
}


.content-section img {
    width: 100% !important;
    height: auto !important;
  }

  .content-section video {
    width: 100% !important;
    height: auto !important;
    border: 20px solid #fff;
    cursor: pointer;
  }


  @media (max-width: 900px) {
    .content-section {
    /* -moz-column-count:    2;
    -webkit-column-count: 2; */
    column-count:         2;
    }
  }

  @media (max-width: 768px) {
    .content-section {
    /* -moz-column-count:    1;
    -webkit-column-count: 1; */
    column-count:         1;
    }
  }


  
.video-group {
    display: none;
}

.album-detail {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 100px;
}

.album-detail .action-btn {
    height: 100px;
    display: flex;
    align-items: center;
    
}

.album-detail .action-btn img{
    height: 40px;
    width: 40px;
    opacity: 0.2;
    transition: opacity 0.2s;
    cursor: pointer;
}

.album-detail .action-btn img:hover {
    opacity: 1;
}

.album-detail .action-btn button{
    height: 40px;
    width: 100px;
    opacity: 0.2;
    transition: opacity 0.2s;
    cursor: pointer;
}

.album-detail .action-btn button:hover {
    opacity: 1;
}

#uploadImage {
    visibility: hidden;
    opacity: 0;
}

.delete-box {
    margin-right: 30px;
    display: flex;
    height: 40px;
    align-items: center;
    border: 2px solid #000;
    opacity: 0.3;
    transition: 0.5s;
}

.delete-box .delete-text {
    /* border: 1px solid #000; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.delete-box .delete-icon {
    height: 100%;
    width: 0;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9534f; 
    transition: 0.5s;
    cursor: pointer;
}

.delete-box .delete-icon img {
    height: 20px;
    opacity: 1;
    width: 0;
}

.delete-box.active {
    opacity: 1;
}

.delete-box.active .delete-icon {
    width: 50px;
}

.delete-box.active .delete-icon img {
    width: 20px;
}
