.land {
    /* fill: #28334A; mau` xanh nuoc bien*/
    /* fill: #c19046; mau` cam visited */
    /* f7ab3a mau` cam hover */
    fill: #146554;
    stroke-width: 1px;
    stroke: white;
}

.land:hover {
    fill: #16a085;
    cursor: pointer;
}

.land.checked {
    fill: #c19046 !important;
    /* c19046; */
}

.land.checked:hover {
    fill: #f7ab3a !important;
}

.map-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media(max-width: 768px) {
    .map-svg {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .map-svg {
        min-width: 700px;
    }
}

svg {
    width: 90%;
    height: 90%;
    padding-top: 40px ;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.tool-tip {
    /* background-color: #fff; */
    display: none;
    position: absolute;
    z-index: 1;
    height: 50px;
    background-image: url('../icons/comment1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px 10px 0 10px;
    font-weight: 800;
}

.tool-tip img {
    position: absolute;
    z-index: -1;
}

